<center>

##Python

#Homework 2
</center>

### **Problem 1**

Calculate the values of the Expression
$$
\sqrt{2^{10}+3^{10}}
$$

In [ ]:
from math import sqrt
sqrt(2**10+3**10)

245.0979396078229

### **Problem 2**

Define the List $x$ with elements
$$
1,1,2,3,2,3,1,1,2,3,4,1
$$

In [ ]:
x=[1,1,2,3,2,3,1,1,2,3,4,1]
x

[1, 1, 2, 3, 2, 3, 1, 1, 2, 3, 4, 1]

- Get the length of $x$ in the variable $l$

In [ ]:
l=len(x)
l

12

- Change the last element of $x$ by 5

In [ ]:
x[11]=5
x

[1, 1, 2, 3, 2, 3, 1, 1, 2, 3, 4, 5]

- Add elements 5,6,7,8,9,10 at the end of the list $x$

In [ ]:
x.extend([5,6,7,8,9,10])
x

[1, 1, 2, 3, 2, 3, 1, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

- Extract all odd-indexed elements of $x$ in the list $y$, and all even-indexed elements of $x$ into the list $z$

In [ ]:
y=[]
z=[]
for i in range(1, len(x), 2): 
        y.append(x[i]) 
        z.append(x[i-1]) 

print(y)
print(z)

[1, 3, 3, 1, 3, 5, 6, 8, 10]
[1, 2, 2, 1, 2, 4, 5, 7, 9]

- Get all even elements of $x$ in the list $y1$ and all odd elements of $x$ in the list $z1$

In [ ]:
y1=[]
z1=[]
for i in range(0, len(x)): 
    if x[i]%2==0: 
        y1.append(x[i]) 
    else: 
        z1.append(x[i]) 

print(y1)
print(z1)

[2, 2, 2, 4, 6, 8, 10]
[1, 1, 3, 3, 1, 1, 3, 5, 5, 7, 9]

- Replace all odd elements of $x$ by 0

In [ ]:
for i in range(0, len(x)): 
  if x[i]%2==1:
    x[i]=0
x

[0, 0, 2, 0, 2, 0, 0, 0, 2, 0, 4, 0, 0, 6, 0, 8, 0, 10]

- Find the maximal and minimal elements of $x$, without using the `max` and `min` functions

In [ ]:
min=x[0]
max=x[0]
for i in range(1, len(x)):
  
  if(x[i]<min):
    min=x[i]
  if(x[i]>max):
    max=x[i]

print(max)
print(min)

10
0

- Find the sum of the elements of $x$

In [ ]:
s=0
for i in range(0, len(x)):
  s+=x[i]
s

34

- Construct a list $I$ consisting of all reciprocals of the elements of $x$

Մեր $x$ list-ը ընթացքում փոխվել էր (այժմ՝ `x=[0, 0, 2, 0, 2, 0, 0, 0, 2, 0, 4, 0, 0, 6, 0, 8, 0, 10]`):

Նկատենք, սակայն, որ սրանում կան տարրեր (0-ները), որոնք հակադարձելի չեն: 

###Միգուցե պետք է դիտարկել սկզբնական $x$-ը...(?)
Ամեն դեպքում ստորև այդպես եմ անում:

In [ ]:
x=[1,1,2,3,2,3,1,1,2,3,4,1]
for i in range(0, len(x)):
  x[i]=(1/x[i])

print(x)

[1.0, 1.0, 0.5, 0.3333333333333333, 0.5, 0.3333333333333333, 1.0, 1.0, 0.5, 0.3333333333333333, 0.25, 1.0]

- Find the value of the sum
$$
\sum_{k=1}^{10} \frac{1}{3^k},
$$
and calculate its distance from the value of 
$$
\sum_{k=1}^{\infty} \frac{1}{3^k},
$$

In [ ]:
s=0
for k in range(1, 10):
  s+=1/(3**k)

s

0.4999745973682873

In [ ]:
'''from math import inf
s1=0
for k in range(1, inf):
  s1+=1/(3**k)
s1'''

s1=(1/3)/(2/3)
S=s1-s
print(S)

2.540263171268986e-05

- Keep, in the list `sec`, second letters of all words in the following sentence:
> The longest word in any of the major English language dictionaries is pneumonoultramicroscopicsilicovolcanoconiosis.

In [ ]:
sec=[]
a=["The", "longest", "word", "in", "any", "of", "the", "major", "English", "language", "dictionaries", "is", "pneumonoultramicroscopicsilicovolcanoconiosis"]
for i in range(0, len(a)):
  sec.append(a[i][1])
sec

['h', 'o', 'o', 'n', 'n', 'f', 'h', 'a', 'n', 'a', 'i', 's', 'n']

### **Problem 3**

The longest word in English is, according to several sources, **Pneumonoultramicroscopicsilicovolcanoconiosis**.

- Find the number of letters in this word

In [ ]:
word='Pneumonoultramicroscopicsilicovolcanoconiosis' #string
len(word)

45

- Find the number of letters "o" in this word

In [ ]:
c=0
for x in word:
  if x=='o':
    c+=1
c

9

- Find the number of vowels (ձայնավորներ) in this word

In [ ]:
v=0
vowels='aeiou'
for x in word:
  if x in vowels:
    v+=1
v

20

- Find how many different letters are there in this word

In [ ]:
list=[]
for x in word:
  if x not in list:
    list.append(x)

len(list)

15