<center>

##Python

#Homework 3
</center>

### **Problem 1**, Dictionaries

- Construct a Dictionary **cities_AM** that corresponds to largest 5 Armenian cities their population, say, for Yerevan, the population is 1077.6 (in thousands). You can find some data at [https://armstat.am/file/article/nasel_01.01.2018.pdf](https://armstat.am/file/article/nasel_01.01.2018.pdf)

In [ ]:
cities_AM={"Yerevan": 1077.6,
           "Gyumri":114.5,
           "Vanadzor":79.3,
           "Vagharshapat":46.4,
           "Abovyan":44.6}

print(cities_AM)

{'Yerevan': 1077.6, 'Gyumri': 114.5, 'Vanadzor': 79.3, 'Vagharshapat': 46.4, 'Abovyan': 44.6}

- Print the names of cities

In [ ]:
list(cities_AM)

['Yerevan', 'Gyumri', 'Vanadzor', 'Vagharshapat', 'Abovyan']

- Print the sum of population in largest 5 Armenian cities

In [ ]:
sum(cities_AM.values())

1362.3999999999999

- Get the name of the second largest (by population) city in Armenia (not by a hand, of course $\ddot{\smile}$ )

In [ ]:
a=list(cities_AM.values())
a.sort()
i=a[len(cities_AM)-2]
list(cities_AM.keys())[list(cities_AM.values()).index(i)]

'Gyumri'

- Add the 6th city with its population to the dictionary

In [ ]:
cities_AM ["Kapan"]=42.5
cities_AM

{'Abovyan': 44.6,
 'Gyumri': 114.5,
 'Kapan': 42.5,
 'Vagharshapat': 46.4,
 'Vanadzor': 79.3,
 'Yerevan': 1077.6}

- Find information about the surface areas of cities, and update dictionary to include tuples (population, area) for each city.

In [ ]:
cities_AM={'Abovyan': (44.6, 11),
          'Gyumri': (114.5, 36.26),
          'Kapan': (42.5, 36),
          'Vagharshapat': (46.4, 40),
          'Vanadzor': (79.3, 25.1),
          'Yerevan': (1077.6, 227)}
cities_AM

{'Abovyan': (44.6, 11),
 'Gyumri': (114.5, 36.26),
 'Kapan': (42.5, 36),
 'Vagharshapat': (46.4, 40),
 'Vanadzor': (79.3, 25.1),
 'Yerevan': (1077.6, 227)}

- Construct a similar dictionary **cities_GE** for Germany 2 largest cities, and create a new Dictionary, with keys "Armenia", "Germany", and values as the constructed dictionaries

In [ ]:
cities_GE={'Berlin': (3769.5, 891.7),
          'Hamburg': (1787.4, 755.3)}
cities_GE

{'Berlin': (3769.5, 891.7), 'Hamburg': (1787.4, 755.3)}

In [ ]:
New_Dict={'Armenia': cities_AM,
          'Germany': cities_GE}

New_Dict

{'Armenia': {'Abovyan': (44.6, 11),
  'Gyumri': (114.5, 36.26),
  'Kapan': (42.5, 36),
  'Vagharshapat': (46.4, 40),
  'Vanadzor': (79.3, 25.1),
  'Yerevan': (1077.6, 227)},
 'Germany': {'Berlin': (3769.5, 891.7), 'Hamburg': (1787.4, 755.3)}}

### **Problem 2**, Control flows

- Consider the list `x = [1, -2, 3, 9, 0, 1, 3, 2, -2, -4, 1, -3]` . Construct two lists, `x_neg` and `x_pos` containng, correspondingly, all negative and all positive elements of `x` in the same order. Costruct also lists `ind_neg` and `ind_pos` which will contain the indices of all negative and positive elements of `x`, respectively.

In [ ]:
x = [1, -2, 3, 9, 0, 1, 3, 2, -2, -4, 1, -3]
x_neg=[i for i in x if i<0]
x_pos=[i for i in x if i>0]
print(x_neg)
print(x_pos)

[-2, -2, -4, -3]
[1, 3, 9, 1, 3, 2, 1]

In [ ]:
x = [1, -2, 3, 9, 0, 1, 3, 2, -2, -4, 1, -3]
ind_neg=[i for i in range(len(x)) if x[i]<0]
ind_pos=[i for i in range(len(x)) if x[i]>0]
print(ind_neg)
print(ind_pos)

[1, 8, 9, 11]
[0, 2, 3, 5, 6, 7, 10]

- Find the sum 
$$
1+ 3+ 5 + ... + 101.
$$

In [ ]:
s=sum(range(1,102,2))
s

2601

- Calculate the sum
$$
1 +\frac{1}{2} +3 +\frac{1}{4}+5 +\frac{1}{6}+...+99+\frac{1}{100}.
$$

In [ ]:
sum(1/i for i in range(2, 101, 2))+sum(i for i in range(1, 100, 2))

2502.2496026691647

- Calculate the semifactorial $20!!$, without using any Python built-in factorial calculation functions (see [Wiki](https://en.wikipedia.org/wiki/Double_factorial))

In [ ]:
p=1
for i in range(2, 21, 2):
  p=p*i
p

3715891200

- Calculate the sum 
$$
\sum_{k=0}^{20} \dfrac{(-1)^k}{k!}
$$
without using any `factorial` function.

In [ ]:
s1=1
for k in range(1, 21):
  k_fact=1
  for i in range(1, k+1):
    k_fact=k_fact*i
  s1=s1+((-1)**k/k_fact)
s1

0.36787944117144245

- It is known that 
$$
\sum_{k=1}^\infty \dfrac{k}{2^{k}} = 2.
$$
Calculate the sum
$$
S_n = \sum_{k=1}^n \dfrac{k}{2^{k}}
$$
with minimum $n$ satisfying
$$
|S_n - 2|\le 0.001.
$$

In [ ]:
s2=0
for k in range(1,100000):
  s2=s2+(k/2**k)
  if abs(s2-2)<=0.001:
    break
s2

1.9990234375

- Given a list of real numbers, find the maximum element of that list, without using any built-in Python `max` function

In [ ]:
list=[12, -1, 36.4, -2.4, 11.11, 8., -64, 74.24, 3]
max=list[0]
for x in list:
  if x>max:
    max=x
max

74.24

- Given a list of arbitrary reals, write a sorting algorithm to sort the list in the increasing order, without using the Python built-in sorting algorithms. You can implement `quicksort`, `bubble sort` or any other well-known algorithm, or just write a simple (maybe non-effective) algorithm.

In [ ]:
n=len(list)
for i in range(n-1):
  for j in range(0, n-i-1):
    if list[j]>list[j+1]:
      list[j], list[j+1] = list[j+1], list[j]
list

[-64, -2.4, -1, 3, 8.0, 11.11, 12, 36.4, 74.24]

### **Problem 3**, Functions

- Define the following function in Python:
$$
f(x) = \left\{
\begin{array}{ll}
-1, & x <0\\
4, & 0\le x\le 5\\
9, & x>5
\end{array}
\right.
$$
and calculate its value at $-4, 3$ and $7$.

In [ ]:
def f(x):
  if x<0:
    return -1
  elif x in range(0,6):
    return 4 
  else:
    return 9  
f(-4), f(3), f(7)

(-1, 4, 9)

- Define the following function in Python:
$$
f(x) = \left\{
\begin{array}{ll}
1, & x <0\ or \ x> 10\\
0, & 0\le x\le 10\\
\end{array}
\right.
$$
and calculate its value at $-4, 0$ and $17$.

In [ ]:
def f1(x):
  if x<0 or x>10:
    return 1
  elif x in range(0,11):
    return 0
f1(-4), f1(0), f1(17)

(1, 0, 1)

- Implement the `Bisection Algorithm` to find the positive root of $f(x) = x^2-2$.

In [ ]:
def bisection(f, a, b, n):
  if f(a)*f(b)<0:
    for N in range(1, n+1):
      m=(a+b)/2
      if f(a)*f(m)<0:
        a=a
        b=m
      elif f(b)*f(m)<0:
        a=m
        b=b
      elif f(m)==0:
        return m
  return (a+b)/2

f=lambda x: x**2-2
bisection (f, 0, 10, 100000)

1.414213562373095

- Write a function of natural variable $n$ that will return the $n$-the Fibonacci number (see [Wiki](https://en.wikipedia.org/wiki/Fibonacci_number)).

In [ ]:
def fib(n):
  a=0
  b=1
  if n==1:
    print(a)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
  return c
fib(7)

8

- Write a function `BinomCoeff` that will return, for any integer $n\ge 0$, the Binomial Coeffieints of the expansion of $(a+b)^n$. For example, for $n=2$, we need to have the following triple:
$$
1, 2, 1,
$$
which are the coefficients of 
$$
(a+b)^2 = 1\cdot a^2 + 2\cdot ab + 1\cdot b^2.
$$
For $n=3$, we need to have
$$
1,3,3,1.
$$

In [ ]:
def f(x):
  fact=1
  for i in range(1, x+1):
    fact=fact*i
  return fact  

n=4
for k in range(0, n+1):
  print(f(n)//(f(k)*f(n-k)), end=" ")

1 4 6 4 1